{% block title %} {{ title }} {% endblock %}

{% block content %}
    <form method="POST" action = "/send" enctype="multipart/form-data">
        <div>
            <label for="csv_file">CSV File</label>
            <input type="file" name="csv_file" id="csv_file">
        </div>
        <input type="submit" value="submit">
    </form>
    {% if students is defined %}
        <table>
            <thead>
                <th> Number </th>
                <th> Gender </th>
                <th> GivenName </th>
                <th> Surname </th>
                <th> EmailAddress </th>
                <th> GUID </th>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td> {{ student['number'] }} </td>
                        <td> {{ student['gender'] }} </td>
                        <td> {{ student['given_name'] }} </td>
                        <td> {{ student['surname'] }} </td>
                        <td> {{ student['email'] }} </td>
                        <td> {{ student['GUID'] }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="/groups" method="post" role="form">
            <input type="submit" name="submit" value="Go to students">
        </form>
    {% endif %}
{% endblock %}