{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1>Hello students :)</h1>
<table>
    <thead>
        <th> Number </th>
        <th> Gender </th>
        <th> GivenName </th>
        <th> Surname </th>
        <th> EmailAddress </th>
        <th> GUID </th>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td> {{ student['student_number'] }} </td>
                <td> {{ student['gender'] }} </td>
                <td> {{ student['first_name'] }} </td>
                <td> {{ student['last_name'] }} </td>
                <td> {{ student['email'] }} </td>
                <td> {{ student['GUID'] }} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}