<!-- prettier-ignore -->
<html>

<head>
  <title>{{title}}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  {{ dropzone.load_css() }}
</head>

<body class="animation">
  <h1 class="css-selector">{{title}}</h1>
  <p class="center">the csv parsing tool for software engineering</p>
  {% block content %} {{ dropzone.create(action='/') }}
  {{dropzone.config(default_message='Drop here!') }}
  {{ dropzone.load_js() }}
  {%endblock %}
</body>

</html>
